<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    #log{
      margin-left: 50%;
margin-top: 11%;
width: 565px;
border-radius: 23px;
height: 271px;
padding: 27px;
    }
   #user_email, #user_password, #user_password_confirmation {
    width: 327px;
    height: 30px;
    }

    
   .logincat{
    width: 242px;
    position: absolute;
    margin-left: 242px;
   }
   .loginc{
   width: 51px;
    height: 50px;
   position: absolute;
   margin-top: 10px;
   margin-left: 291px;
 }
 .actions{
 
width: 345px;
margin-top: 44px;
height: 42px;
 }

  </style>
</head>
<body style="background-image: url(http://3.bp.blogspot.com/-c8GDVtqhq5c/Vcms-bSZlCI/AAAAAAAAVDk/Ww67s3r2Yno/s1600/Image-chat-Fonds-d-%25C3%25A9cran-1.jpg)" >
  

<div id="log" style="background-color: white;" >



<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
  	<%= image_tag "email.png", :class => "loginc" %>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
   
</body>
</html>
