<div class="colorlib-loader">
</div>
<div id="page">
	<nav class="colorlib-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="colorlib-logo">
							<a href="/">Chat-On</a>
						</div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="active">
								<a href="/">Acceuil</a>
							</li>
							<li>
								<a href="blog.html">Produit</a>
							</li>
							<!-- <li><a href="about.html">About</a></li> -->
							
							<% if user_signed_in?%>
							
								<li class="has-dropdown">
									<a href="shop.html">Utilisateurs</a>
									<ul class="dropdown">
										<li>
											<a href="product-detail.html">Dashboard</a>
										</li>

										<li>
											<%# <a ><%= link_to "Votre Profile", edit_user_registration_path%> <%# </a> %>
											<a href="/users/edit">Profil</a>
										</li>

										<li>
											<%= link_to "Déconnecter", destroy_user_session_path, method: :delete %>
										</li>
									</ul>
								</li>
								<li>
									<a href="cart.html">
										<i class="icon-shopping-cart"></i> Cart [0]</a>
								</li>

								<li>
									<%= current_user.fullname.capitalize!  %>
								</li>

								<%else %>

									<li class="has-dropdown">
									<a >Connexion</a>
									<ul class="dropdown">
										<li>
											<%= link_to "Sign In", new_user_session_path %>
										</li>
										<li>
											<%= link_to "Sign Up", new_user_registration_path %>
										</li>
									</ul>
								</li>

									<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<aside id="colorlib-hero">
		<div class="flexslider">
			<ul class="slides">
				<li style="background-image: url(images/cat.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-2 col-sm-12 col-xs-12 slider-text">
								<div class="slider-text-inner">
									<div class="desc">
										<h4 class="head-3">Bienvenue</h4>
										<h2 class="head-2">Dans</h2>
										<h2 class="head-3">Chat-On</h2>
										<p class="category">
											<span>Cat picture for all & cheap</span>
										</p>
										<p>
											<a href="#" class="btn btn-primary">Produits Collection</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li style="background-image: url(images/cat2.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-2 col-sm-12 col-xs-12 slider-text">
								<div class="slider-text-inner">
									<div class="desc">
										<h1 class="head-1">Chat-on</h1>
										<h2 class="head-2">A prix réduix</h2>
										<h2 class="head-3">Inscrivez-Vous</h2>
										<p class="category">
											<span>Pour recevoir vos photos</span>
										</p>
										<p>
											<a href="/users/sign_up" class="btn btn-primary">S'inscrire</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li style="background-image: url(images/cat4.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 slider-text">
								<div class="slider-text-inner">
									<div class="desc">
										<h1 class="head-1">Chat</h1>
										<h2 class="head-2">Mignon</h2>
										<h2 class="head-4">Achetez-dès </h2>
										<p class="category">
											<span>maintenant &amp; Recevez</span>
										</p>
										<p>
											<a href="/users/sign_in" class="btn btn-primary">Déja inscrit</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</aside>
	<div id="colorlib-featured-product">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<a href="shop.html" class="f-product-1" style="background-image: url(images/product/cat_6.jpg);">
						<div class="desc">
							<h2>Mignon
								<br>Chat
								<br>Mignon</h2>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<a href="" class="f-product-2" style="background-image: url(images/product/cat_7.jpg);">
								<div class="desc">
									<h2>Nouveau
										<br>Fond
										<br>News</h2>
								</div>
							</a>
						</div>
						<div class="col-md-6">
							<a href="" class="f-product-2" style="background-image: url(images/product/cat_8.jpg);">
								<div class="desc">
									<h2>Sale
										<br>20%
										<br>off</h2>
								</div>
							</a>
						</div>
						<div class="col-md-12">
							<a href="" class="f-product-2" style="background-image: url(images/product/cat_9.jpg);">
								<div class="desc">
									<h2>Un 
										<br>Photo
										<br>Gratuit</h2>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="colorlib-shop">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
					<h2>
						<span>Les nouveautés</span>
					</h2>
					<p>Nous amions tous les chats, asumons le .</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center">
					<div class="product-entry">
						<div class="product-img" style="background-image: url(images/product/cat_1.jpeg);">
							<p class="tag">
								<span class="new">New</span>
							</p>
							<div class="cart">
								<p>
									<span class="addtocart">
										<a href="cart.html">
											<i class="icon-shopping-cart"></i>
										</a>
									</span>
									<span>
										<a href="product-detail.html">
											<i class="icon-eye"></i>
										</a>
									</span>
									<span>
										<a href="#">
											<i class="icon-heart3"></i>
										</a>
									</span>
									<span>
										<a href="add-to-wishlist.html">
											<i class="icon-bar-chart"></i>
										</a>
									</span>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="shop.html">Floral Dress</a>
							</h3>
							<p class="price">
								<span>$300.00</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="product-entry">
						<div class="product-img" style="background-image: url(images/product/cat_2.jpg);">
							<p class="tag">
								<span class="new">New</span>
							</p>
							<div class="cart">
								<p>
									<span class="addtocart">
										<a href="cart.html">
											<i class="icon-shopping-cart"></i>
										</a>
									</span>
									<span>
										<a href="product-detail.html">
											<i class="icon-eye"></i>
										</a>
									</span>
									<span>
										<a href="#">
											<i class="icon-heart3"></i>
										</a>
									</span>
									<span>
										<a href="add-to-wishlist.html">
											<i class="icon-bar-chart"></i>
										</a>
									</span>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="shop.html">Floral Dress</a>
							</h3>
							<p class="price">
								<span>$300.00</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="product-entry">
						<div class="product-img" style="background-image: url(images/product/cat_3.jpg);">
							<p class="tag">
								<span class="new">New</span>
							</p>
							<div class="cart">
								<p>
									<span class="addtocart">
										<a href="cart.html">
											<i class="icon-shopping-cart"></i>
										</a>
									</span>
									<span>
										<a href="product-detail.html">
											<i class="icon-eye"></i>
										</a>
									</span>
									<span>
										<a href="#">
											<i class="icon-heart3"></i>
										</a>
									</span>
									<span>
										<a href="add-to-wishlist.html">
											<i class="icon-bar-chart"></i>
										</a>
									</span>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="shop.html">Floral Dress</a>
							</h3>
							<p class="price">
								<span>$300.00</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="product-entry">
						<div class="product-img" style="background-image: url(images/product/cat_4.jpg);">
							<p class="tag">
								<span class="new">New</span>
							</p>
							<div class="cart">
								<p>
									<span class="addtocart">
										<a href="cart.html">
											<i class="icon-shopping-cart"></i>
										</a>
									</span>
									<span>
										<a href="product-detail.html">
											<i class="icon-eye"></i>
										</a>
									</span>
									<span>
										<a href="#">
											<i class="icon-heart3"></i>
										</a>
									</span>
									<span>
										<a href="add-to-wishlist.html">
											<i class="icon-bar-chart"></i>
										</a>
									</span>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="shop.html">Floral Dress</a>
							</h3>
							<p class="price">
								<span>$300.00</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="colorlib-intro" class="colorlib-intro" style="background-image: url(images/cover-img-1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="intro-desc">
						<div class="text-salebox">
							<div class="text-lefts">
								<div class="sale-box">
									<div class="sale-box-top">
										<h2 class="number">Fond</h2>
										<span class="sup-1">'</span>
										<span class="sup-2"></span>
									</div>
									<h2 class="text-sale">Ecran</h2>
									<h4 class="text-sale">Mignon</h4>
								</div>
							</div>
							<div class="text-rights">
								<h3 class="title">Achetez dès maintenant les photos pour des fond d'écran mignon comme tous!</h3>
								<p>Cella va rendre votre telephone ou autre appareil mignon :)</p>
								<p>
									<a href="shop.html" class="btn btn-primary">Achetez Maintenant</a>
									<a href="#" class="btn btn-primary btn-outline">A propos</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="colorlib-shop">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
					<h2>
						<span>Nos chatons</span>
					</h2>
					<p>Ils sont mignons n'es pas, pour en avoir une inscrivez vous et payez à bas prix.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center">
					<div class="product-entry">
						<div class="product-img" style="background-image: url(images/product/item-9.jpeg);">
							<p class="tag">
								<span class="sale">Sale</span>
							</p>
							<div class="cart">
								<p>
									<span class="addtocart">
										<a href="cart.html">
											<i class="icon-shopping-cart"></i>
										</a>
									</span>
									<span>
										<a href="<%= item_show_path(1) %>">
											<i class="icon-eye"></i>
										</a>


									</span>
									<span>
										<a href="#">
											<i class="icon-heart3"></i>
										</a>
									</span>
									<span>
										<a href="add-to-wishlist.html">
											<i class="icon-bar-chart"></i>
										</a>
									</span>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="shop.html">Floral Dress</a>
							</h3>
							<p class="price">
								<span>$199.00</span>
								<span class="sale">$300.00</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="product-entry">
						<div class="product-img" style="background-image: url(images/product/item-10.jpg);">
							<p class="tag">
								<span class="new">New</span>
							</p>
							<div class="cart">
								<p>
									<span class="addtocart">
										<a href="cart.html">
											<i class="icon-shopping-cart"></i>
										</a>
									</span>
									<span>
										<a href="product-detail.html">
											<i class="icon-eye"></i>
										</a>
									</span>
									<span>
										<a href="#">
											<i class="icon-heart3"></i>
										</a>
									</span>
									<span>
										<a href="add-to-wishlist.html">
											<i class="icon-bar-chart"></i>
										</a>
									</span>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="shop.html">Floral Dress</a>
							</h3>
							<p class="price">
								<span>$300.00</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="product-entry">
						<div class="product-img" style="background-image: url(images/product/item-11.jpg);">
							<p class="tag">
								<span class="new">New</span>
							</p>
							<div class="cart">
								<p>
									<span class="addtocart">
										<a href="cart.html">
											<i class="icon-shopping-cart"></i>
										</a>
									</span>
									<span>
										<a href="product-detail.html">
											<i class="icon-eye"></i>
										</a>
									</span>
									<span>
										<a href="#">
											<i class="icon-heart3"></i>
										</a>
									</span>
									<span>
										<a href="add-to-wishlist.html">
											<i class="icon-bar-chart"></i>
										</a>
									</span>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="shop.html">Floral Dress</a>
							</h3>
							<p class="price">
								<span>$300.00</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="product-entry">
						<div class="product-img" style="background-image: url(images/product/item-12.jpeg);">
							<p class="tag">
								<span class="new">New</span>
							</p>
							<div class="cart">
								<p>
									<span class="addtocart">
										<a href="cart.html">
											<i class="icon-shopping-cart"></i>
										</a>
									</span>
									<span>
										<a href="product-detail.html">
											<i class="icon-eye"></i>
										</a>
									</span>
									<span>
										<a href="#">
											<i class="icon-heart3"></i>
										</a>
									</span>
									<span>
										<a href="add-to-wishlist.html">
											<i class="icon-bar-chart"></i>
										</a>
									</span>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="shop.html">Floral Dress</a>
							</h3>
							<p class="price">
								<span>$300.00</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="product-entry">
						<div class="product-img" style="background-image: url(images/product/item-13.jpg);">
							<p class="tag">
								<span class="new">New</span>
							</p>
							<div class="cart">
								<p>
									<span class="addtocart">
										<a href="cart.html">
											<i class="icon-shopping-cart"></i>
										</a>
									</span>
									<span>
										<a href="product-detail.html">
											<i class="icon-eye"></i>
										</a>
									</span>
									<span>
										<a href="#">
											<i class="icon-heart3"></i>
										</a>
									</span>
									<span>
										<a href="add-to-wishlist.html">
											<i class="icon-bar-chart"></i>
										</a>
									</span>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="shop.html">Floral Dress</a>
							</h3>
							<p class="price">
								<span>$300.00</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="product-entry">
						<div class="product-img" style="background-image: url(images/product/item-14.jpg);">
							<p class="tag">
								<span class="new">New</span>
							</p>
							<div class="cart">
								<p>
									<span class="addtocart">
										<a href="cart.html">
											<i class="icon-shopping-cart"></i>
										</a>
									</span>
									<span>
										<a href="product-detail.html">
											<i class="icon-eye"></i>
										</a>
									</span>
									<span>
										<a href="#">
											<i class="icon-heart3"></i>
										</a>
									</span>
									<span>
										<a href="add-to-wishlist.html">
											<i class="icon-bar-chart"></i>
										</a>
									</span>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="shop.html">Floral Dress</a>
							</h3>
							<p class="price">
								<span>$300.00</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="product-entry">
						<div class="product-img" style="background-image: url(images/product/item-15.jpeg);">
							<p class="tag">
								<span class="new">New</span>
							</p>
							<div class="cart">
								<p>
									<span class="addtocart">
										<a href="cart.html">
											<i class="icon-shopping-cart"></i>
										</a>
									</span>
									<span>
										<a href="product-detail.html">
											<i class="icon-eye"></i>
										</a>
									</span>
									<span>
										<a href="#">
											<i class="icon-heart3"></i>
										</a>
									</span>
									<span>
										<a href="add-to-wishlist.html">
											<i class="icon-bar-chart"></i>
										</a>
									</span>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="shop.html">Floral Dress</a>
							</h3>
							<p class="price">
								<span>$300.00</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="product-entry">
						<div class="product-img" style="background-image: url(images/product/item-16.jpg);">
							<p class="tag">
								<span class="new">New</span>
							</p>
							<div class="cart">
								<p>
									<span class="addtocart">
										<a href="cart.html">
											<i class="icon-shopping-cart"></i>
										</a>
									</span>
									<span>
										<a href="product-detail.html">
											<i class="icon-eye"></i>
										</a>
									</span>
									<span>
										<a href="#">
											<i class="icon-heart3"></i>
										</a>
									</span>
									<span>
										<a href="add-to-wishlist.html">
											<i class="icon-bar-chart"></i>
										</a>
									</span>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="shop.html">Floral Dress</a>
							</h3>
							<p class="price">
								<span>$300.00</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="colorlib-testimony" class="colorlib-light-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
					<h2>
						<span>Nos Equipe</span>
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="owl-carousel2">
						<div class="item">
							<div class="testimony text-center">
								<span class="img-user" style="background-image: url(images/person1.jpg);"></span>
								<span class="user">Tino Sam</span>
								<small>Fullstack, intégrateur</small>
								<blockquote>
									<p>" A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
								</blockquote>
							</div>
						</div>
						<div class="item">
							<div class="testimony text-center">
								<span class="img-user" style="background-image: url(images/person2.jpg);"></span>
								<span class="user">Cédric</span>
								<small>Backend</small>
								<blockquote>
									<p>One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
								</blockquote>
							</div>
						</div>
						<div class="item">
							<div class="testimony text-center">
								<span class="img-user" style="background-image: url(images/person3.jpg);"></span>
								<span class="user">Njaratiana</span>
								<small>Fullstack</small>
								<blockquote>
									<p>Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek,
										then she continued her way.</p>
								</blockquote>
							</div>
						</div>
						<div class="item">
							<div class="testimony text-center">
								<span class="img-user" style="background-image: url(images/person1.jpg);"></span>
								<span class="user">Nao Jilius</span>
								<small>Fullstack</small>
								<blockquote>
									<p>" A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
								</blockquote>
							</div>
						</div>
						<div class="item">
							<div class="testimony text-center">
								<span class="img-user" style="background-image: url(images/person1.jpg);"></span>
								<span class="user">Bright Robert</span>
								<small>Front-end</small>
								<blockquote>
									<p>" A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="colorlib-subscribe">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="col-md-6 text-center">
						<h2>
							<i class="icon-paperplane"></i>Sign Up for a Newsletter</h2>
					</div>
					<div class="col-md-6">
						<form class="form-inline qbstp-header-subscribe">
							<div class="row">
								<div class="col-md-12 col-md-offset-0">
									<div class="form-group">
										<input type="text" class="form-control" id="email" placeholder="Enter your email">
										<button type="submit" class="btn btn-primary">Subscribe</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer id="colorlib-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-3 colorlib-widget">
					<h4>About Store</h4>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa
						amet.
					</p>
					<p>
						<ul class="colorlib-social-icons">
							<li>
								<a href="#">
									<i class="icon-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon-dribbble"></i>
								</a>
							</li>
						</ul>
					</p>
				</div>
				<div class="col-md-2 colorlib-widget">
					<h4>Customer Care</h4>
					<p>
						<ul class="colorlib-footer-links">
							<li>
								<a href="#">Contct</a>
							</li>
							<li>
								<a href="#">Returns/Exchange</a>
							</li>
							<li>
								<a href="#">Gift Voucher</a>
							</li>
							<li>
								<a href="#">Wishlist</a>
							</li>
							<li>
								<a href="#">Special</a>
							</li>
							<li>
								<a href="#">Customer Services</a>
							</li>
							<li>
								<a href="#">Site maps</a>
							</li>
						</ul>
					</p>
				</div>
				<div class="col-md-2 colorlib-widget">
					<h4>Information</h4>
					<p>
						<ul class="colorlib-footer-links">
							<li>
								<a href="#">About us</a>
							</li>
							<li>
								<a href="#">Delivery Information</a>
							</li>
							<li>
								<a href="#">Privacy Policy</a>
							</li>
							<li>
								<a href="#">Support</a>
							</li>
							<li>
								<a href="#">Order Tracking</a>
							</li>
						</ul>
					</p>
				</div>

				<div class="col-md-2">
					<h4>News</h4>
					<ul class="colorlib-footer-links">
						<li>
							<a href="blog.html">Blog</a>
						</li>
						<li>
							<a href="#">Press</a>
						</li>
						<li>
							<a href="#">Exhibitions</a>
						</li>
					</ul>
				</div>

				<div class="col-md-3">
					<h4>Contact Information</h4>
					<ul class="colorlib-footer-links">
						<li>291 South 21th Street,
							<br> Suite 721 New York NY 10016</li>
						<li>
							<a href="tel://1234567920">+ 1235 2355 98</a>
						</li>
						<li>
							<a href="mailto:info@yoursite.com">info@yoursite.com</a>
						</li>
						<li>
							<a href="#">yoursite.com</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>

						<span class="block">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
							<i class="icon-heart2" aria-hidden="true"></i> by
							<a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
						<span class="block">Demo Images:
							<a href="http://unsplash.co/" target="_blank">Unsplash</a> ,
							<a href="http://pexels.com/" target="_blank">Pexels.com</a>
						</span>
					</p>
				</div>
			</div>
		</div>
	</footer>
</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop">
		<i class="icon-arrow-up2"></i>
	</a>
</div>
<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
